# install4j response file for Burp Suite Professional 2022.6.1
sys.adminRights$Boolean=true
sys.adminRightsUiRootUnix$Boolean=false
sys.fileAssociation.extensions$StringArray="burp"
sys.fileAssociation.launchers$StringArray="70"
sys.installationDir=/opt/BurpSuitePro
sys.languageId=en
sys.programGroupDisabled$Boolean=false
sys.symlinkDir=/usr/local/bin