[alias]
	co = checkout
	cob = "checkout -b"
	br = branch
	ci = commit
	cm = "commit -m"
	st = status
	unstage = 'reset HEAD --'
	hist = "log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short"
	last = "log -1 HEAD"
	lg = "log --graph --decorate=short"
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret