[global_config]
  suppress_multiple_term_dialog = True
[keybindings]
[profiles]
  [[default]]
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
      size = 1200, 800 # old: 900, 650 
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]